.app-footer {
  width: 100%;
  padding: 0.5% 1%;
  background-color: var(--footer-background);
  border-top: 1px solid var(--footer-border-color);
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-text {
  font-size: 14px;
  color: var(--app-text-color);
  opacity: 0.6;
  margin-right: 2%;
}
